@font-face {
  font-family: font2;
  src: url("../font/upheavtt.ttf");
}

@font-face {
  font-family: tempesta;
  src: url("../font/tempesta.ttf");
}

@font-face {
  font-family: teammeat;
  src: url("../font/teammeat.ttf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: pixelated;
  background-size: cover;
}

.light {
  background-image: url("../images/background.png");
}

.dark {
  background-image: url("../images/background_dark.png");
}


h1 {
  font-size: 42px;
  margin: 0;
  font-family: font2;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin: 0;
  font-family: font2;
  max-width: 70%;
  text-align: center;
}

h3 {
  font-size: 21px;
  margin: 0;
  font-family: font2;
}

li {
  font-family: font2;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}