#guessinput {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/paper_medium.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
    width: 42%;
    position: absolute;
    top: 20px
}

#guessinput p{
    color:#333333;
    font-family: font2;
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    margin-top: 38px;
}

#guessinput input {
    background:none;
    background-image: url("../images/searchbars.png");
    background-size: cover;
    background-position: center center;
    border: none;
    color: white;
    font-family: font2;
    font-size: 25px;
    padding: 10px;
    padding-left: 60px;
    padding-bottom: 19px;
}

#guessinput input:focus {
    outline: none;
    background: none;
    border: none;
    background-image: url("../images/searchbars.png");
    background-size: cover;
    background-position: center center;
}

#guesses {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("../images/isaacdle_back.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 74%;
    width: 65%;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 85%;
}

#header p{
    font-family: teammeat;
    font-size: 20px;
    font-weight: bold;
    margin-top: 38px;
    text-align: center;
}

#guessesinside {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#guessesinside::-webkit-scrollbar {
    display: none;
}

.guess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.box {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tempesta;
    font-size: 15px;
    text-align: center;
}

.smallbox {
    width: 84px;
}

.largebox {
    width: 250px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.largebox::-webkit-scrollbar {
    display: none;
}

#statbox {
    width: 150px;
}


#boximg {
    width: 64px;
    height: auto;
}

#boxqual {
    width: 33px;
    height: auto;
}

.red {
    background-image: url("../images/splash_red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.green {
    background-image: url("../images/splash_green.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.orange {
    background-image: url("../images/splash_orange.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}