#searchSection {
    position: absolute;
    bottom: 50px;
    background-image: url("../images/paper_small.png");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13%;
    width: calc(100vh * 0.80);
}

#searchName, #searchId {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -6px;
}


#searchSection p {
    font-family: teammeat;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.search {
    background:none;
    background-image: url("../images/searchbars.png");
    background-size: cover;
    background-position: center center;
    border: none;
    color: white;
    font-family: font2;
    font-size: 18px;
    padding: 10px;
    padding-left: 60px;
    padding-bottom: 19px;
}

.search:focus {
    outline: none;
    background: none;
    border: none;
    background-image: url("../images/searchbars.png");
    background-size: cover;
    background-position: center center;
    
}

