#sidebar {
    background-image: url("../images/background_paper.png");
    background-size: cover;
    width: 300px;
    height: calc(300px * 1.297);
    position: absolute;
    left: 0;
    top: 0;
}

#sidebar h2 {
    margin-top: 50px;
    color: #362F2D;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: #362F2D;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: fit-content;
}

nav a p {
    margin: 0;
    margin-left: 10px;
}

.arrowmenu {
    height: 20px;
    width: auto;
    opacity: 0;
}

nav a:hover .arrowmenu {
    opacity: 1;
}

.active .arrowmenu {
    opacity: 0.5;
}

#themeswitch {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -65px;
}

#themeswitch p{
    color:#333333;
    font-family: teammeat;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}

#themeswitch p:hover {
    text-decoration: underline;
}

